 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p>Text</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2">
                    <div class="col-lg-8 col-lg-offset-2 text-center">
                        <h3>Liam</h3>
                    </div>
                    <p>Lorema ipsum dolor sit amet, consectetur adipiscing elit. Cras interdum, mi sit amet efficitur efficitur, purus ligula consequat neque, maximus accumsan dui neque.</p>
                </div>
                <div class="col-lg-4">
                    <div class="col-lg-8 col-lg-offset-2 text-center">
                        <h3>Patrick</h3>
                    </div>
                    <p>Lorema ipsum dolor sit amet, consectetur adipiscing elit. Cras interdum, mi sit amet efficitur efficitur, purus ligula consequat neque, maximus accumsan dui neque.</p>
                </div>
            </div>
        </div>
    </section>
